



.App {
  text-align: center;
}
:root{
  --primary-color: rgb(240, 11, 81);
  
}
.body{
  background-color:#eff0f4;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.nav-link{
  font-size: 1.3em !important;
  color: var(--primary-color) !important;
}
.nav-link:hover{
  opacity: .6;
}

#bg-gradient{
  background: linear-gradient(to right, rgb(240, 11, 81), rgb(115, 0, 98)) !important;
}

#btn-outline-fill,
#btn-fill{
  border-radius: 2rem;
  padding: .2rem 1rem;
  border:2px solid var(--primary-color);
  transition: .5s;
}
#btn-fill{
  background: var(--primary-color);
  color:white !important;
}
#btn-fill:hover,
#btn-outline-fill:hover{
  opacity: .7;
  transform: scale(95%);
}
#btn-outline-fill:hover{
  background: var(--primary-color) !important;
  color:white !important;
}

.navbar-toggler-icon{
  color: var(--primary-color);
  transition: .5s;
}
.navbar-toggler{
  border-color: var(--primary-color) !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover  {
  background: var(--primary-color);
  transition: .6s;
  opacity: .7;
}
.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon{
  color: white !important;
}
.img-logo{
  width: 8rem;
}


@media screen and (max-width:1000px) {
  .search-container{
    width: 90% !important;
  }
  .search-container input{
    font-size: 1.2em !important;
    padding: 1em !important;
    font-size: 1em;
  }
  .search-container button{
    padding: .3em 1em !important;
    font-size: 1em;
  }
}